@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
  margin: 3rem;
  max-width: 15rem;
  background-color: rgb(110, 12, 12);
  padding: 2rem;
  font-family: Roboto, arial;
}

.button-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  font-family : inherit;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 0.3rem;
  border: none;
  background-color: orange;
}

.button:hover {
  background-color: rgb(255, 188, 62);
}